/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Fredoka One';
  src: url(./Fredoka.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./Roboto.ttf);
}

.roboto {
  font-family: 'Roboto';
}

.fredoka {
  font-family: 'Fredoka One';
}



li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}


a {
  text-decoration: none;
}

.container {
  background-color: rgb(251, 254, 257);
  width: auto;
  height: 5738px;
  margin: auto;

}

.intro {
  background-color: #F2CEDA;
  height: 862px;
  width: auto;
  margin:  auto;

}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;

}

.list1_ul_navbar {
  color: #150101; 
  font-weight: 700;
  font-size: 15px; 
  opacity: 0.6;
}

.btn {
  width: 165px;
  height: 69px;
  margin-left: 172px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  background-color: #D23166;
  border-style: none;
  color: white;
}

.flex_box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1_intro {
  margin-left: 230px;
  margin-top: 150px;

}

.up_text_box1 {
  font-size: 14px;
  font-weight: 500px;
  letter-spacing: 1px;
}

.title_box1_intro {
  font-size: 57.33px;
  width: 665px;
}

.title_span_box1 {
  color: #D23166;
}

.text_box1 {
  margin-top: 35px;
  font-size : 18px;
  width: 523px; 
  opacity: 0.6;
}

.btn2 {
  margin: 0px;
  margin-top: 50px;
}

.items_flex_box2 {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  width: 250px;
  height: 200px;

}

.contain_items {
  text-align: center;
}

.flex_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1117px;
  margin: 62px auto;
  
}

.items_title {
  margin-top: 9px;
  font-weight: 600;
  font-size: 20px;

}

.text_items {
  width: 198px;
  height: 38px;
  margin-top: 9px;
  opacity: 0.6;
  font-size: 14px;
}

.img_text_box2 {
  width: 51px;

}


.flex_box3 {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width: auto;
  height: 544.55px;
  background-color: #F2CEDA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_item1 {
  font-size: 44px;
  font-weight: 600;
  width: 349px;
}

.text_item1 {
  width: 442px;
  margin-top: 16.04px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

.btn3 {
  margin-left: 0px;
  margin-top: 35.1px;
}

.img_box3 {
  margin-left: 74px;
}

.flex_box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  height: 1560px;
}

.box4_navbar {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 97.2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.title_box4_navbar {
  font-size: 44.3px;
  font-weight: 600;
  letter-spacing: 1px;
}

.box4_navbar_lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;  
}

.boxes_list {
  color: black;
  opacity: 0.6;
}

.list1_box4 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #D23166;
          text-decoration-color: #D23166;
  opacity: 1;
  line-height: 4px;

}

.box4_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 85px;
}

.title_box4_item1 {
  font-weight: 700;
  font-size : 26px;
  margin-top: 60px;
}

.text_box4_item1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 11px;
  opacity: 0.6;
  width: 454px;
}

.price_item1_box4 {
  font-size : 26px;
  font-weight: 500;
  margin-top: 28px;
}

.sale_item1_box4 {
  font-size: 20px;
  opacity: 0.6;
}

.btn4 {
  margin-left: 0px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}

.item_end {
  text-align: end;
}

.flex_box5 {
  height: 500px
}

.box5_item1 {
  margin-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 255px;
}


.profile_box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
}

.name_box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 200px;
  font-size: 24px;
  font-weight: 550;
  letter-spacing: 1px;
}

.region_box5 {
  font-size : 12px;
  opacity: 0.6;
}


.comment_box5 {
  width: 350px;
  font-size : 16px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12.04px; 
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}

.comment_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  width: 322px;
}

.last_finish_box5 { 
  height: 10px;
}

.profiles_box5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}


.flex_box6_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color:#F2CEDA;
  gap: 134px;
  height: 640px;
  margin-top: 190px;
}

.flex_box6 {
  height: 725px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



.box6_img {
  margin-top: 59px;
  height: 627px;
}

.box6_title {
  font-size : 44.2px;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 1;
}

.box6_item2 {
  margin-top: 90px;
}

.text_box6 {
  font-size: 18px;
  width: 607px;
  margin-top: 20px;
  opacity: 0.6;
}

.list_box6 {
  margin-top: 31px;
  line-height: 40px;
}

.item1_list_box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos_box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 3px;
}

.text_logos_box6 {
  font-size: 22px;
}

.store_box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
}

.flex_box7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 565px;
}

.title_text_box7 {
  font-size : 44px;
  width: 522px;
  text-align: center;
  margin-top: 63px;
}

.box7_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items_box7 {
  width: 303px;
  height: 74px;
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  border: 1px;
  border-style: solid;
  border-color:#D23166;
}

.items_text {
  margin-left: 25px;
  opacity: 0.6;
  font-size: 14px; 
}

.box7_footer_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  width: 637px;
  height: 74px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color:#D23166;
}

.footer_flex_text {
  margin-left: 25px;
  opacity: 0.6;
  font-size: 14px;  
}

.send_box7 {
  height: 74px;
  width: 134px;
  background-color: #D23166;
  border: 1px;
  border-color: #D23166;
  font-size : 20px;
  color : white;
}


.flex_box8 {
  width: auto;
  height: 500px;
  background-color: black;
}

.items_box8 {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item1_box8 {
  margin-left: 90px;
}

.item1_box8_text {
  margin-top: 9px;
  width: 207px;
  font-size: 12px; 
  opacity: 0.6;
  color: white;
}

.foot_text_box8_item1 {
  margin-top: 25px;
  color: white;
}

.img_foot_box8_item1 {
  margin-top: 8px;
}

.logo_box8_item1 {
  margin-top: 70px;
}

.item2_box8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 143px;
  margin-left: 37px;
}

.list_item2_box8 {
  font-size : 12px;
  color: white;
  opacity: 0.6;
}

.title_item2 {
  opacity: 1;
  line-height: 10px;
}

.item3_box8 {
  margin-top: 150px;
  margin-left: 132px;
}

.item3_texts {
  color: white;
  line-height: 10px;
  font-size : 12px;
  opacity: 0.6;
}


.item4_box8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: 150px;
  margin-top: 136px;
  margin-left: 151px;
  line-height: 0px;
}

.box8_item4 {
  height: 55px;
  width: 388px;
  margin-top: 0px;
  background-color: black;

}
.box8_item4_btn {
  height: 55px;
  width: 125px;
}

 .item4_item1 {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item4_box8_logos {
  margin-top: 10px;
}

.item4_box8_text {
  color: white
}

.item4_title {
  color: white;
  font-size: 16px;
  font-weight: 500;
}